@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap.scss';

$font-stack:    Helvetica, sans-serif;
$primary-color: #4889f2;
$border-color: #bebcbc;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin container-padding($len) {
            padding-bottom: $len;
            padding-left: $len;
            padding-right: $len;
            padding-top:$len;
}

header {
                text-align: left;
                font-size: 18px;
                font-weight: 400;
                font-family: $font-stack;
                color: #4889f2;
    
}

div
.container {
    
    @include container-padding(10px);
    @include border-radius(10px);
            width:1024px;
            height:768px;
            border-bottom-style: solid;
            border: 2px;
            border-color: $border-color;
            font-family: $font-stack;
}

.image {
    
    @include container-padding(24px);
            width:148px;
            height:184px;
    
}


#labelname {
                padding-left: 48px;
                text-align: left;
                font-size: 18px;
                font-weight: 400;
                font-family: $font-stack;
                color: #4889f2;
    
}

input {
    
    border-color: $border-color;
}
