<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
    <meta charset="UTF-8">
    <title>AMP code test</title>
<!-- build:css styles/main.css -->
    <link href="css/site.css" rel="stylesheet">
<!-- endbuild -->
</head>
<body>

    
    <div class="container" ng-controller='SearchController'>
        <header>
            <h2>People search</h2>
        </header>
	<div class="row">
        <div class="col-sm-12">
                <div class="input-group input-group-lg col-sm-12">
                    <input type="text" class="form-control" ng-model="filtText" placeholder="Search" />
                    <p  style="padding:12px"></p>
            </div>
        </div>
	</div>

    <div class="row">
        <div class="col">
                <div class="media" style="padding-left:64px">
                      <div class="col-sm-6 col-lg-4" ng-repeat='n in names | filter: {firstName: filtText}'>
                          <a href="#">
                              <img class="media-object image" src={{n.picture}} alt="names.firstName" />
                              <label id="labelname">{{n.firstName}}</label></div>
                </div>    </a>
            </div>        
        </div>
    
    </div>

    

<!-- build:js scripts/main.js -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
<!--    <script src="../bower_components/angular-resource/angular-resource.min.js"></script>-->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/services.js"></script>
<!-- endbuild -->    
    
</body>
</html>